.navbar-default {
  background-color: #79c44d;
  border-color: #528c2f;
}
.navbar-default .navbar-brand {
  color: #f7fcf3;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #edf8e7;
}
.navbar-default .navbar-text {
  color: #f7fcf3;
}
.navbar-default .navbar-nav > li > a {
  color: #f7fcf3;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #edf8e7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #edf8e7;
  background-color: #528c2f;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #528c2f;
}

.navbar-default .navbar-nav > li > a:focus {
  background-color: #79c44d;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #edf8e7;
  background-color: #528c2f;
}
.navbar-default .navbar-toggle {
  border-color: #528c2f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #528c2f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f7fcf3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f7fcf3;
}
.navbar-default .navbar-link {
  color: #f7fcf3;
}
.navbar-default .navbar-link:hover {
  color: #edf8e7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f7fcf3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #edf8e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #edf8e7;
    background-color: #528c2f;
  }
}